# SQL and SQLite

SQL(Structured Query Language) is a standard language for managing and manipulating rlational databases. SQLite is a self-contained, and zero configuration database engine that is widely used for embedded database system. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [3]:
#Connect to an SQlite database

connection= sqlite3.connect('Example.db')
connection

In [4]:
cursor=connection.cursor()

In [5]:
##Create a table

cursor.execute(''' 
create table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text)
''')

In [6]:
#Commit the changes

connection.commit()

In [7]:
cursor.execute('''
select * from employees;

 ''')

In [9]:
# insert the data in sqlite table

cursor.execute(''' 
insert into employees(name,age,department)
               values('chetana',21,'MSc')
''')

cursor.execute(''' 
insert into employees(name,age,department)
               values('Arya',22,'MSc')
''')

#commit the changes

connection.commit()

In [ ]:
## Queerying the data from the table

cursor.execute('select * from employees;')

rows=cursor.fetchall()

In [12]:
##print the queried data

for row in rows:
    print(row)

(1, 'chetana', 21, 'MSc')
(2, 'Arya', 22, 'MSc')

In [13]:
#Update the data in the table

In [14]:
cursor.execute('''  
UPDATE employees
               set age=25
               where name="Arya"
''')

In [15]:
connection.commit()

In [16]:
## Queerying the data from the table

cursor.execute('select * from employees;')

rows=cursor.fetchall()

In [17]:
##print the queried data

for row in rows:
    print(row)

(1, 'chetana', 21, 'MSc')
(2, 'Arya', 25, 'MSc')

In [21]:
# Delete the data from the table

cursor.execute(" Delete from employees where name='Arya' ")

In [22]:
connection.commit()

In [23]:
## Queerying the data from the table

cursor.execute('select * from employees;')

rows=cursor.fetchall()

In [24]:
##print the queried data

for row in rows:
    print(row)

(1, 'chetana', 21, 'MSc')

Working with Sales Data

In [26]:
# Connect to an SQLite database

connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

In [29]:
#Create a table for sales data

cursor.execute('''
create table if not exists sales(
               id integer primary key,
               date text not null,
               product text not null,
               sales integer,
               region text)
''')

In [30]:
connection.commit()

In [32]:
#Insert data into the sales table

sales_data= [
    ('2024-01-01', 'Product1', 100, 'North'),
    ('2024-01-02', 'Product2', 200, 'West'),
    ('2024-01-03', 'Product3', 300, 'East'),
    ('2024-01-04', 'Product4', 400, 'South'),
    ('2024-01-05', 'Product5', 500, 'North')  
]

In [33]:
connection.commit()

In [35]:
cursor.executemany('''
insert into sales(date,product,sales,region)
                    values(?,?,?,?)
''',sales_data)

connection.commit()

In [36]:
#Query data from the sales table

cursor.execute('Select * from sales')
rows=cursor.fetchall()

In [37]:
#Print the queried data
for row in rows:
    print(row)

(1, '2024-01-01', 'Product1', 100, 'North')
(2, '2024-01-02', 'Product2', 200, 'West')
(3, '2024-01-03', 'Product3', 300, 'East')
(4, '2024-01-04', 'Product4', 400, 'South')
(5, '2024-01-05', 'Product5', 500, 'North')

In [38]:
#close the connection

connection.close()